<div class="questions summary" id="<%= question.id %>" >

  <div class="votes">
<<<<<<< HEAD
    <div class="mini-counts"><span title="votes"><%= question.votes.sum("value") %></span></div>
=======
    <div class="mini-counts"><span title="votes" class= "question <%= question.id %>"><%= question.points %></span></div>
>>>>>>> 227215a13aef7ec1f6e5da9be2fbb110e7a31e55
    <div>points</div>
    <%= erb :"_vote_buttons", locals: {logged_in: @logged_in, voteable_id: question.id, voteable_type: "Question"}%>
  </div>
  <div class="answers">
    <div class="mini-counts"><span title="answers"><%= question.answer_count %></span></div>
    <div>answers</div>
  </div>
  <div class="views">
    <div class="mini-counts"><span title="views"></span><%= question.view_count %></div>
    <div>views</div>
  </div>
  <div class="title">
    <h2 class="title-text"><a href="questions/<%= question.id %>"><%= question.title %></a></h2>
      <div class ="question status"><p>asked <%= question.minutes_ago %>  ago by <a href="/users/<%= question.author.id %>"><%= question.author.username %></a></p>
  </div>
</div>
