<img src="../favicon.ico" >
<h1><%= @user.username %></h1>
<p><%= @user.email %></p>
<p>joined: <%= @user.created_at.strftime("%m/%d/%Y") %> </p>
<p>answers: <%=@user.answers.count %></p>
<p>questions: <%=@user.questions.count %></p>
  @user.avatar.current_path
<% if @user == current_user %>


<% end %>
<div class = "user-questions-data">
  <h3>Questions</h3>
  <%= erb :'/users/_user_tables', locals: {user_data: @user.questions} %>
</div>

<div class = "user-answers-data">
  <h3>Answers</h3>
  <%= erb :'/users/_user_tables', locals: {user_data: @user.answers} %>
</div>
