<li id = "<%=answer.id %>" class="answer"><%= answer.body %> - <%= erb :"/users/_mini", locals: {user: answer.author, commentable: answer} %><%= erb :"_vote_buttons", locals: {logged_in: @logged_in, voteable_id: answer.id, voteable_type: "Answer"}%> | <b><%=answer.points%> points</b><%= erb :"comments/_comment_list", locals: {comments: answer.comments, commentable:answer} %></li>


